// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #f6d327 !default;
$header-bg-color-secondary: #de4daa !default;
// $header-bg-color: #159957 !default;
// $header-bg-color-secondary: #155799 !default;
// header-bg-color-secondary is on the left, header-bg-color is on the right.
// now header-bg-color is on the bottom, header-bg-color-secondary is on the top.

// Text
$section-headings-color: #000000 !default;
$body-text-color: #333333 !default;
$body-link-color: #0000ee !default;
$blockquote-text-color: #ffa500 !default;
// $section-headings-color: #159957 !default; (green)
// $body-text-color: #606c71 !default; (dark gray)
// $body-link-color: #1e6bb8 !default; (light blue)
// $blockquote-text-color: #819198 !default; (light gray)

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #555555 !default;
// $code-text-color: #567482 !default; (blue gray)

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
